@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container {
    background-color: black;
}
.logo{
    display: flex;
    justify-content: center;
    width: 20%;
    
}
.logo img{
    width: 70%;
    height: 60px;
    border: 3px solid white;
    border-radius: 50px;
    border-color:rgb(0, 0, 0);
    
}

.navbar{
    display: flex;
    justify-content: center;
    width: 85%;
    margin: auto;
    position: relative;
    position: sticky;
    top: 0;
    cursor: pointer;
    background-color: #000000;
    border-radius: 100px;
    box-shadow: -20px 14px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.navbar:hover{
    cursor:pointer;
    
}
.nav-list{
    display: flex;
    width: 100%;
    
}
li.dropdown {
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {background-color: #f1f1f1;}
  
.dropdown:hover .dropdown-content {
    display: block;
}
.nav-list li{
    list-style: none;
    padding: 23px;
    color: aliceblue;

}
.nav-list li a{
    text-decoration: none;
    color: aliceblue;
}
.nav-list li a:hover{
    text-decoration: none;
    color: rgb(17, 134, 218);
}
.rightNav{
    width: 70%;
    text-align: right;
    
    margin: auto;
}
.search{
    width: 100px;
    height: 31px;
    border-radius: 10px;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 0.2s;
}
.search:hover {
    width: 300px;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 9px;
    outline:10px;
    outline-style: solid;
}
#button{
    padding: 5px;
    font-size: 17px;
    border: 2px solid white;
    border-radius: 9px;
    
}
button.btn.btn-sm {
    height: 30px;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    backdrop-filter: invert(1);
    background-blend-mode: saturation;

}
.box-one{
    background:rgba(0, 0, 0, 0.7) url('laptops3.jpg');
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    max-width: 100%;
    margin: auto;
}
.firsthalf{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-family: monospace;
    font-size: xxx-large;
}
.textsmall{
    font-size: x-large;
}
.image1{
    border-radius: 30px;
    
}

.box-two{
    background-color: black;
    color: white;
}

.linux{
    margin: auto;
    align-items: center;
    color: rgb(242, 255, 0);
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-family: monospace;
    font-size: xxx-large;
}
.linux-image{
    background:rgba(0, 0, 0, 0.7) url('linux.jpg');
    background-blend-mode: darken;
    background-size: contain;
}
.linux-para{
    font-size: xx-large;
}
.dell{
    display: flex;
    margin: auto;
}
.dell1{
    width: 40%;
    padding: 30px;
    margin: 10px;
    text-align: center;
    font-size: x-large;
}
.container1{
    /*position: relative;*/
    width: 50%;
    margin: auto;
}
  
.image {

    display: block;
    width: 500px;
    height: 350px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.head1{
    font-size: xxx-large;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    font-size: 80px;;
    margin:auto; 

}

.lenovo{
    display: flex;
    margin: auto;
}
.lenovo1{
    width: 40%;
    padding: 30px;
    margin: 10px;
    font-size: x-large;
    align-items:flex-start;
}
.container2{
    width: 50%;
    align-items:center;
  }
.Purism-Librem-15{
    display: flex;
    margin: auto;
}
.Purism-Librem-15-1{
    width: 40%;
    padding: 30px;
    margin: 10px;
    text-align: center;
    font-size: x-large;
}
.Windows{
    /*color: white;*/
    margin: auto;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-family: monospace;
    font-size: xxx-large;
}
.Windows-image{
    background: rgb(29 146 202 / 70%) url('windows.jpg');
    background-blend-mode: darken;
    background-size: cover;    
}
.windowshead{
    color: rgb(255, 255, 255);
}
.windowspara{
    color: #ffffff;
    font-size: xx-large;
}

.Dell-XPS-13{
    display: flex;
    margin: auto;
}
.Dell-XPS-13-1{
    width: 40%;
    padding: 30px;
    margin: 10px;
    text-align: center;
    font-size: x-large;
    color: #ffffff;
}
.Microsoft-Surface-Laptop-4{
    display: flex;
    margin: auto;
}
.Microsoft-Surface-Laptop-4-1{
    width: 40%;
    padding: 30px;
    margin: 10px;
    text-align: center;
    font-size: x-large;
    color: #ffffff;
}
.container3{
    width: 50%;
    margin: auto;
}
.Ios{
    margin: auto;
    align-items: center;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px #555555;
    text-align: center;
    font-family: monospace;
    font-size: xxx-large;
}
.Ios-image{
    background:rgba(202, 202, 202, 0.7) url('ios.jpg');
    background-blend-mode: darken;
    background-size: cover;
}
.ioshead{
    color: black;
}
.iospara{
    color: #000000;
    font-size: xx-large;
}

.MacBook-Air-M1{
    display: flex;
    margin: auto;
}
.MacBook-Air-M1-1{
    width: 40%;
    padding: 30px;
    margin: 10px;
    text-align: center;
    font-size: x-large;
    color: #000000;
}
.container3{
    
    width: 50%;
    margin: auto;
}
.box-three{
    background-image: url('budget.jpg');
    background-blend-mode: darken;
    background-size: cover;
    /*max-width: 80%;*/
    align-items: center;
    color: #f1f1f1;
    margin: auto;
    align-items: center;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-family: monospace;
    font-size: xxx-large;
}
.budgetpara{
    font-size: xx-large;
}
.HP{
    display: flex;
    margin: auto;
}
.HP-1{
    width: 70%;
    padding: 30px;
    margin: 10px;
    text-align: center;
    font-size: x-large;
}
.image2{
    display: block;
    width: 420px;
    height: 359px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ideapad{
    display: flex;
    margin: auto;
}
.ideapad-1{
    width: 70%;
    padding: 30px;
    margin: 10px;
    text-align: center;
    font-size: x-large;
}
#image {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
#image:hover {
    cursor: pointer;
}
#image1{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
#image1:hover {
    cursor: pointer;
}
#image2{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
#image2:hover {
    cursor: pointer;
}
#image3{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
#image3:hover {
    cursor: pointer;
}
#image4{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
#image4:hover {
    cursor: pointer;
}
#image5{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
#image5:hover {
    cursor: pointer;
}
#image6{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
#image6:hover {
    cursor: pointer;
}
#image7{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
#image7:hover {
    cursor: pointer;
}
#image8{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
#image8:hover {
    cursor: pointer;
}   
#image9{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
#image9:hover {
    cursor: pointer;
}
#image10{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
#image10:hover {
    cursor: pointer;
}
/*#image11{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
  
#image11:hover {
    cursor: pointer;
}*/
#image12{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
#image12:hover {
    cursor: pointer;
}
#image13{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
#image13:hover {
    cursor: pointer;
}
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
  /* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
  
  /* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
